<div class="container">
  <h1 style="display: block; text-align: center;">{{ this.selectedID }}
    {{db.allImgData[this.selectedID]['wordDetails'][0]}}</h1>
  <h4 style="display: block; text-align: center;">
    {{db.allImgData[this.selectedID]['wordDetails'][1]}}</h4>
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-4 mt-4 justify-content-center"
      *ngFor="let image of db.allImgData[this.selectedID]['images'];let index= index;" style="text-align: center;">
      <img [src]="image['src']" class="img-fluid img-thumbnail"
        [ngClass]="{'selected': this.selectedImgs.includes(index)}" style="height: 300px;" (click)="onImgClick(index)">
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-5 mb-5 btn-lg" (click)="displayNextWord()"
    style="float: right;">Submit</button>
  <button type="button" class="btn btn-primary mt-5 mb-5 mx-3 btn-lg" (click)="onClickNone()"
    style="float: right;">None</button>


  <!-- <div *ngFor="let image of this.images">
    <p><span> {{ image.src }} :</span> <span> {{ image.count }}</span></p>
  </div> -->
  <!-- <div>{{ db.firebaseData[this.selectedindex].payload.doc.data().checked }}</div> -->
  <div>{{ this.selectedImgs }}</div>
  <div>{{ this.db.isDataFetched}}</div>
</div>